/* Font families */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-color: black;
}

h1 {
	color: white;

	font-family: Lato;
	font-size: 50px;
	text-align: center;
}

p {
	color: white;

	font-family: Roboto;
	font-size: 14px;
	text-align: left;
}

p.subtitle {
	text-align: center;
	margin-top: -30px;
}

button {
	background-color: black;
	color: white;
	border: 1px solid white;

	text-align: center;
	font-family: Roboto;
	font-size: 14px;

	padding: 5px;
	border-radius: 5px;
}

button:hover {
	color: lightblue;
	cursor: pointer;
}

button:active {
	color: white;
	background-color: skyblue;
	border-color: skyblue;
}

button.center {
	margin: 10px auto;
	display: block;
}

button:focus {
	outline: none;
}

a {
	color: lightblue;
	text-decoration: none;
}

a:hover {
	color: lightskyblue;
}

.canvasContainer {
	margin: 0 auto;
	text-align: center;
}

canvas {
	width: 100%;
	max-width: 640;
	height: auto;
}
