/* Font families */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-color: black;
}

h1 {
	color: white;

	font-family: Lato;
	font-size: 50px;
	text-align: center;
}

p {
	color: white;

	font-family: Roboto;
	font-size: 14px;
	text-align: left;
}

p.subtitle {
	text-align: center;
	margin-top: -30px;
}

.panel {
    padding: 10px;
    font-size: 13px;
    font-family: Roboto;

    background-color: #333333;
}

.panel span {
    color: white;
}

.error {
    font-family: monospace;
}

.error.lineno {
    color: white;
}

.error.info {
    color: lightblue;
}

.error.details {
    color: white;
}

.errorwidget {
    font-family: monospace;
    background-color: darkred;
}

.errorwidget .info {
    color: navajowhite;
}

.errorwidget .details {
    color: white;
}

.remove-panel {
    float: right;

    color: white;
    cursor: pointer;
}

.audio-wrapper {
    font-size: 13px;
    font-family: Roboto;

    color: white;

    text-align: center;
    margin: 10px;
}

.audio-wrapper > * {
    margin: auto;
    vertical-align: middle;
    display: inline-block;
}

.input-wrapper {
    font-size: 13px;
    font-family: Roboto;

    color: white;

    text-align: center;
    margin: 10px;

    overflow: hidden;

    -webkit-transition: height .3s ease;
       -moz-transition: height .3s ease;
         -o-transition: height .3s ease;
            transition: height .3s ease;
}

span.info-text {
    color: white;

    font-size: 13px;
    font-family: Roboto;
}

button, .btn {
	background-color: black;
	color: white;
	border: 1px solid white;

	text-align: center;
	font-family: Roboto;
	font-size: 14px;

	padding: 5px;
	border-radius: 5px;

    -webkit-transition: padding .2s ease;
       -moz-transition: padding .2s ease;
         -o-transition: padding .2s ease;
            transition: padding .2s ease;
}

button:disabled {
	color: grey;
	border-color: grey;
}

button:disabled:hover {
	color: grey;
	cursor: default;

	padding-left: 5px;
	padding-right: 5px;
}

button:hover, .btn:hover {
	color: lightblue;
	cursor: pointer;

    padding-left: 10px;
    padding-right: 10px;
}

button:active, .btn:active {
	border-color: lightblue;
}

button.center, .btn.center {
	margin: 10px auto;
	display: block;
}

button:focus, .btn:focus {
	outline: none;
}

.btn-file {
    position: relative;
    overflow: hidden;

    display: inline-block;
    vertical-align: top;
}

.btn-file input[type=file] {
    display: none;
}

input[type=text] {
    border: 1px solid white;
    background-color: black;
    color: white;

    font-family: Roboto;
    font-size: 13px;

    padding: 5px;
    border-radius: 5px;

    width: 200px;
}

input[type=text]:focus {
    border-color: lightblue;
    outline: none;

    width: 220px;
}

.input-wrapper > input {
    vertical-align: top;
}

nav {
    text-align: center;
}

nav > .btn, nav > * {
    border-radius: 0px;
}

nav > .btn:first-child, nav > *:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

nav > .btn:last-child, nav > *:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.CodeMirror {
	overflow: hidden;
	margin: 10px auto;
}

.CodeMirror.smoothTransition {
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
}

.CodeMirror.hide {
	height: 0px;
}

a {
	color: lightblue;
	text-decoration: none;
}

a:hover {
	color: lightskyblue;
}

.canvas-container {
	margin: 0 auto;
	text-align: center;
}

canvas {
	width: 100%;
	max-width: 640;
	height: auto;
}
